<html>
    <head>
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    </head>

    <body>
        <p> Test </p>
        <div id="my-chart"></div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/modules/exporting.js"></script>  
        <script src="../static/js/main.js"></script>
        <script type="text/javascript" >
            new Highcharts.Chart({{chart|safe}});
        </script>
    </body>
</html>