<html>

        <link href="../static/css/bootswatch.min.css" rel="stylesheet" type="text/css" />
    <head>
        <title>Ars Investis</title>
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        <!--<link href="../static/css/main.css" rel="stylesheet" type="text/css" />-->
    </head>
    <body class = 'body'>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Ars Investis</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="macro">Macro dashboard</a></li>
        <li><a href="machine_learning">Machine Learning</a></li>
        <li><a href="portfolio">Portfolio Construction</a></li>
        <li><a href="factor">Factor performance</a></li>
        <li><a href="market_data">Market Data</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="about">About</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <!-- <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul> -->
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

        <div id="chart1" style="width:33%; height: 45%;  float:left;"></div>
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/highcharts.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/themes/dark_mark.js"></script>
        <script type="text/javascript" >
         new Highcharts.Chart({{chart1|safe}});
        </script>
        <div id="chart2" style="width:33%; height: 45%;float:left;"></div>
        <script> type="text/javascript"
            new Highcharts.Chart({{chart2|safe}});
            </script>
        <div id="chart3" style="width:33%; height: 45%;float:left;"></div>
        <script> type="text/javascript"
            new Highcharts.Chart({{chart3|safe}});
            </script>
        <div id="chart4" style="width:33%; height: 45%;float:left;"></div>
        <script> type="text/javascript"
            new Highcharts.Chart({{chart4|safe}});
            </script>
        <div id="chart5" style="width:33%; height: 45%;float:left;"></div>
        <script> type="text/javascript"
            new Highcharts.Chart({{chart5|safe}});
            </script>
        <div id="chart6" style="width:33%; height: 45%;float:left;"></div>
        <script> type="text/javascript"
            new Highcharts.Chart({{chart6|safe}});
            </script>

        </body>
</html>



